/* @import '~material-design-icons/iconfont/material-icons.css'; */

.todo {
  display: flex;
  color: black;
  font-size: 25px;
  font-weight: 500;
  font-style: oblique;
  width: 350px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background: gray;
  cursor: pointer;
  margin: 1vh auto;
}
.selected {
  display: flex;
  color: black;
  font-size: 25px;
  font-weight: 500;
  font-style: oblique;
  width: 350px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background: gray;
  cursor: pointer;
  margin: 1vh auto;
  transition: 0.3s ease-in;
}

.titleTodo {
  width: 80%;
  height: 100%;
  text-align: center;
}

.deleteTodo {
  border: none;
  background: none;
  color: black;
  outline: none;
  border-bottom: white;
}
.material-icons {
  color: white;
  cursor: pointer;
}
.checkbox {
  color: white;
}
