.comment {
  display: flex;
  color: black;
  font-size: 25px;
  font-weight: 500;
  font-style: oblique;
  width: 350px;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: gray;
  cursor: pointer;
  margin: 1vh auto;
  justify-content: space-around;
}
