input {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  color: black;
  padding: 5px;
  text-align: center;
}
input::placeholder {
  text-align: center;
  color: black;
}

.form {
  max-height: 20vh;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  border: 1px solid #3333;
  border-radius: 20px;
  margin-bottom: 15px;
}
